/* Profile Card Body */
.profile--body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #2a8b8e);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

/* Profile Card Container */
.profile-card {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  padding: 20px;
}

/* Profile Header */
.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.profilephoto {
  width: 150px;
  height: 120px;
  border-radius: 37%;
  object-fit: cover;
  border: 1px solid #086669;
}

.userName h1 {
  font-size: 1.5rem;
  color: #2a8b8e;
  margin-top: 10px;
}

.email {
  font-size: 1rem;
  color: #333;
  margin-top: 5px;
}

/* Profile Details Section */
.profile-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.detail {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: #333;
}

.label {
  font-weight: 500;
  color: #086669;
  text-align: center;
}

.value {
  color: #555;
}

/* Profile Footer */
.profile-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.tag {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #086669;
}

.tag svg {
  margin-left: 5px;
  color: #086669;
}

.profile--button {
  padding: 10px 30px;
  background-color: #086669;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile--button:hover {
  background-color: #2a8b8e;
}

.profile--button:focus {
  outline: none;
}

.profile-footer a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Emergency Contact Button */
.profile-footer .tag:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px;
}
