.profile--body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* margin: 6%; */
  padding: 25px;
}
.profile-card {
  background-color: #6ffac3;
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  height: fit-content;
  padding : 2% 5% 2% 5%;
}

@media screen and (max-width: 768px) {
  .profile-card {
    width: 100%;
  }
  
}

.profilephoto{
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  align-items: center;
}
.profile-header {
  text-align: center;
  margin-bottom: 5%;
}
.profile--h1 {
  font-size: 30px;
  margin: 0;
  color: #333;
}
.profile-header .email {
  font-size: 20px;
  color: #666;
  margin: 1% 0% 0%;
}
.profile-details {
  margin-bottom: 5%;
}
.detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 22px;
}
.detail .label {
  color: #100101;
  font-weight: bold;
  line-height: 1.5rem;
}
.detail .value {
  color: #333;
}
.detail .value a {
  color: #0073e6;
  text-decoration: none;
}
.detail .value a:hover {
  text-decoration: underline;
}
.profile-footer {
  border-top: 1px solid #1f0101;
  border-width: 2px;
  padding-top: 8%;
  font-size: 14px;
}
.profile-footer .tag {
  background-color: #e0e7ff;
  text-align: center;
  color: #1e40af;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: 500;
  font-style: none;
  margin-bottom: 12px;
}

.profile-footer .category {
  color: #666;
  font-weight: 700;
  margin-bottom: 2%;
}
.profile-footer .assignee {
  color: #333;
  margin-bottom: 2%;
}
.profile-footer .handle {
  color: #666;
}
.profile-footer .date {
  color: #666;
  font-size: 12px;
}
.flex{
  display: inline-flex;
  align-items: center
}

.profile--button {
  background-color: #0a41f7;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 12px;
  font-weight: 500;
  font-style: none;
  color: #ffffff;
  cursor: pointer;
}